<div class="reveal">
  <div class="slides">
    <%= File.open(slides_html).read %>
  </div>
</div>

<script src="js/reveal.js"></script>

<% js_files.each do |file| %>
<script src="<%= file %>"></script>
<% end %>

<script>
  <%= script %>
</script>
