<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <%= head %>
  </head>

  <body>
    <%= body(slides_html) %>
  </body>
</html>
