<div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <%= File.open(slides_file).read %>
  </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>
  (function() {
    function extend( a, b ) {
      for(var i in b) {
        a[i] = b[i];
      }
    }
    var baseOptions = {
      transition: '<%= config.transition %>',
      dependencies: [
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
    };
    var configOptions = <%= config.revealjs_config.to_json %>
    var initializeOptions = {};
    extend(initializeOptions, baseOptions);
    extend(initializeOptions, configOptions);
    Reveal.initialize(initializeOptions);
  })();
</script>
