<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_content.html root=".." %}
  </head>
  <body data-spy="scroll" data-target="#navcolumn" data-offset="100">
    {% include nav_bar.html root=".." %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3" id="navcolumn">
          <h4>Concepts</h4>
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li>
              <a href="#reveal-js-is-great">reveal.js is Great!</a>
            </li>
            <li>
              <a href="#smaller-simpler-better">Smaller, Simpler, Better</a>
            </li>
            <li>
              <a href="#tools-that-you-know">Use Tools that you Know</a>
            </li>
            <li>
              <a href="#browsers-good-for-slides">Browsers: Good for Slides</a>
            </li>
            <li>
              <a href="#quick-start-advanced-features">Quick Start, Advanced Features</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <h1>In short,</h1>
          <blockquote>
            <p>
              reveal.js presentations are html.
            </p>
            <p>
              Ruby is good at producing html.
            </p>
            <p>
              Let's produce reveal.js presentations with minimal work.
            </p>
            <small>mission statement</small>
          </blockquote>
          <section id="reveal-js-is-great">
            <h2>reveal.js is Great!</h2>
            <p>
              <a href="https://github.com/hakimel/reveal.js/">reveal.js</a>
              is great choice for creating slides. Check out
              the <a href="http://lab.hakim.se/reveal-js/#/">live
              demo</a> for examples of all the things it can do.
            </p>
          </section>
          <section id="smaller-simpler-better">
            <h2>Smaller, Simpler, Better</h2>
            <p>
              reveal-ck allows you to reduce a presentation down to a
              single file.
            </p>
            <p>
              You can focus on your content and message when you
              manage a small number of files that generate a larger
              number.
            </p>
          </section>
          <section id="tools-that-you-know">
            <h2>Use Tools that you Know</h2>
            <p>
              reveal-ck presentations are made of text. You probably
              have a favorite way of editing text and tracking changes
              in text.
            </p>
            <p>
              You can use the same tools for presentations that you
              use for text.
            </p>
          </section>
          <section id="browsers-good-for-slides">
            <h2>Browsers: Good for Slides</h2>
            <p>
              What makes for a good presentation? Beautiful images?
              Well-chosen typography? Overall styling? Music? Video?
              The modern browser is powerful and ubiquitous.
            </p>
            <p>
              Picking the browser as a slide runtime is a good choice.
            </p>
          </section>
          <section id="quick-start-advanced-features">
            <h2>Quick Start, Advanced Features</h2>
            <p>
              reveal-ck supports Markdown, which lets you making your
              first presentation with ease.
            </p>
            <p>
              Yet, Markdown itself is limited when it comes to
              creating very specific html. And so, reveal-ck supports
              an abundance of other html generation languages if you
              need them.
            </p>
          </section>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include final_scripts.html root=".." %}
  </body>
</html>
