<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_content.html root=".." %}
  </head>
  <body data-spy="scroll" data-target="#navcolumn" data-offset="100">
    {% include nav_bar.html root=".." %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3" id="navcolumn">
          <h4>Steps</h4>
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li>
              <a href="#overview">Overview</a>
            </li>
            <li>
              <a href="#slides-file">The Slides File</a>
            </li>
            <li>
              <a href="#config-yml">config.yml</a>
            </li>
            <li>
              <a href="#supporting-files">Supporting Files</a>
            </li>
            <li>
              <a href="#filters">Filters</a>
            </li>
            <li>
              <a href="#web-server">Web Server</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <section id="overview">
            <h1>Overview</h1>
            <p>
              This is a high level description of how reveal-ck
              creates a presentation. Greater detail is available in
              the
              <a href="https://www.relishapp.com/jedcn/reveal-ck/docs">
                relishapp documentation for reveal-ck.
              </a>
            </p>
            <h2>Making Slides</h2>
            <p>
              Slide generation centers around running the command
              <code>reveal-ck generate</code>.
            </p>
            <p>
              The generate process takes a file containing your slides
              and creates a presentation in a new directory
              named <code>slides</code>.
            </p>
            <h2>What happens during this process?</h2>
            <p>
              Everything starts with your <em>slides file</em>.
            </p>
            <p>
              If you author slide content in Markdown, your <em>slides
              file</em> will be named <code>slides.md</code>. If you
              write in html it's slides.html. If you write in erb it
              will be slides.html.erb. The same pattern holds true for
              slides.haml, slides.textile, slides.slim, and slides.rb.
            </p>
            <p>
              Regardless of authoring technology, you put your slide
              content into the <em>slides files</em> and run reveal-ck
              generate.
            </p>
            <h2>And then what happens?</h2>
            <ol>
              <li>
                The file <code>config.yml</code> is scanned, if it
                exists. Values within inform the generation process.
              </li>
              <li>
                The reveal-ck gem contains a recent copy of reveal.js
                within it. This copy is unpacked into the slides/
                directory.
              </li>
              <li>
                If you have supporting files in directories named
                images/, css/, js/, or media/, these files are copied
                into the slides/ directory.
              </li>
              <li>
                Your <em>slides file</em> is transformed into html and
                stored at <code>slides/slides.html</code>.
              </li>
              <li>
                Pieces of a reveal.js's index.html (which serves as
                the demo) are also stored within the reveal-ck
                gem. These pieces are merged together with the content
                in slides/slides.html. The result is a stored
                at <code>slides/index.html</code>.
              </li>
              <li>
                The body of slides/index.html is run through a series
                of filters. These filters provide support for
                <a href="https://www.relishapp.com/jedcn/reveal-ck/docs/using-emoji-in-your-slides">
                  emoji
                </a>
                ,
                <a href="https://www.relishapp.com/jedcn/reveal-ck/docs/mentioning-user-in-your-slides">
                  @mentions
                </a>
                , and
                <a href="https://www.relishapp.com/jedcn/reveal-ck/docs/auto-linking-in-your-slides">
                  auto-linking.
                </a>
              </li>
            </ol>
          </section>
          <section id="slides-file">
            <h2>The Slides File</h2>
            <p>
              Your slide content lives in a single file known as
              the <em>slides file</em>.
            </p>
            <p>
              You can supply configuration and styling. You can have
              distinct images and audio files. You can even include
              text from other files, but everything revolves around
              the <em>slides file</em>. It is the core of your
              content.
            </p>
          </section>
          <section id="config-yml">
            <h2>config.yml</h2>
            <p>
              This (optional) file contains configuration directives
              that impact the generated presentation.
            </p>
            <p>
              It can provide:
              <ul>
                <li>theme and transition settings</li>
                <li>reveal.js initialization options</li>
                <li>configuration info for filters</li>
                <li>shared data accessible at render time</li>
              </ul>
            </p>
            See <a href="../config">configuration details.</a>
          </section>
          <section id="supporting-files">
            <h2>Supporting Files</h2>
            <p>
              reveal-ck <em>allows</em> you to reduce a presentation
              to a single file, but what if you want to include
              images? CSS? mp3s? reveal-ck expects that supporting
              files are placed into directories.
            </p>
            <p>
              Any images included in the images directory will be
              copied into the presentation. This mean they can be
              referenced relatively: <code>&lt;img
              src="image/foo.png"/&gt;</code>.
            </p>
            <p>
              If you include a CSS file in the css directory, it will
              be automatically included in the generated presentation
              and linked into the <code>&lt;head/&gt;</code> of the
              final index.html.
            </p>
            <p>
              Files in the media directory will be copied into the
              presentation. For example, mp3s can be referenced
              by <code>&lt;audio/&gt;</code> tags.
            </p>
            <p>
              Files in the <code>templates</code> directory aren't
              copied into the presentation, but, they can be
              referenced via the <code>slide</code> DSL method when
              working with a <code>slides.rb</code>. This only matters
              if you're <a href="../ruby">working in Ruby</a>.
            </p>
          </section>
          <section id="filters">
            <h2>Filters</h2>
            <p>
              The last step in the creation of your presentation
              involves running filters over your the html content in
              your presentation.
            </p>
            <p>
              The <a href="https://github.com/jch/html-pipeline">html-pipeline</a>
              framework is used to support filtering. :emoji: is
              replaced, links are auto-linked, and @mentions are
              transformed into github user URLs. Some of these filters
              are configurable.
            </p>
          </section>
          <section id="web-server">
            <h2>Web Server</h2>
            <p>
              You can show your slides by opening the generated
              index.html in a browser. However, presentation mode will
              not work unless they are served up via http.
            </p>
            <p>
              You can type <code>reveal-ck serve</code> and an http
              server will startup on port 10000 serving up the content
              of your slides directory.
            </p>
            <p>
              Just browse
              to
              <a href="http://localhost:10000">
                http://localhost:10000
              </a>.
            </p>
          </section>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include final_scripts.html root=".." %}
  </body>
</html>
